/*
Common Styles
*/

body {
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
    font-weight: 300;
}

/*
Header Section Styles
*/

.title-logo {
    max-width: 100px;
    margin-top: 20px;
}

.title-super {
    font-size: 72px;
    font-weight: 100;
}

.title-sub {
    font-size: 24px;
    margin-top: 0.5em;
}

@media screen and (max-width: 692px) {
    .title-super {
        font-size: 60px;
    }
    .title-sub {
        font-size: 24px;
    }
}

@media screen and (max-width: 582px) {
    .title-super {
        font-size: 54px;
    }
    .title-sub {
        font-size: 20px;
    }
}

@media screen and (max-width: 530px) {
    .title-super {
        font-size: 48px;
    }
}

@media screen and (max-width: 480px) {
    .title-super {
        font-size: 36px;
    }
    .title-sub {
        font-size: 18px;
    }
    .title-logo {
        max-width: 60px;
    }
}

@media screen and (max-width: 374px) {
    .title-super {
        font-size: 30px;
    }
    .title-sub {
        font-size: 16px;
    }
    .title-logo {
        max-width: 50px;
    }
}

.custom-hr {
    background-color: #7d97ad;
    line-height: 5px;
    font-size: 1px;
    margin: 15px;
    margin-bottom: 30px;
    width: calc(100% - 30px);
}

/*
Project Section Styles
*/

.projects-section-title {
    font-size: 40px;
    color: #7d97ad;
    margin-left: 15px;
    margin-top: 45px;
}

.projects {
    text-align: center;
}

.project-title {
    font-size: 40px;
}

.smaller-photo {
    padding-top: 10px;
    padding-bottom: 10px;
}

